<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.bookhub.mapper.RecommendBooksMapper">
	
	<!-- 카테고리 -->
	<resultMap type="Category" id="CategoryResultMap">
		<id				column="CATEGORY_NO"			property="no"/>
		<result			column="CATEGORY_NAME"			property="name"/>
	</resultMap>
	
	<!-- 도서 -->
	<resultMap type="Book" id="BookResultMap">
		<id				column="BOOK_NO"				property="no"/>
		<result			column="BOOK_TITLE"				property="title"/>
		<result			column="BOOK_AUTHOR"			property="author"/>
		<result			column="BOOK_PUBLISHER"			property="publisher"/>
		<result			column="BOOK_DESCRIPTION"		property="description"/>
		<result			column="BOOK_PUB_DATE"			property="pubDate"/>
		<result			column="BOOK_REVIEW_COUNT"		property="reviewCount"/>
		<result			column="BOOK_REVIEW_AVG"		property="reviewAvg"/>
		<result			column="BOOK_COVER_IMAGE_PATH"	property="coverImagePath"/>
		<result			column="BOOK_CREATED_DATE"		property="createdDate"/>
		<result			column="BOOK_UPDATED_DATE"		property="updatedDate"/>
		<result			column="BOOK_ISBN"				property="isbn"/>
		<association 	resultMap="CategoryResultMap"	property="category" />
	</resultMap>
	
	 <!-- 로그인 유저의 대여 목록 개수 조회
	 * @param userId 로그인 유저 아이디
	 * @return 대여 목록 개수
	int getTotalLoanHistoryRows(String userId) -->
	<select id="getTotalLoanHistoryRows" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			BOOKHUB_LOAN_HISTORIES
		WHERE
			USER_ID = #{userId}
	</select>

	 <!-- 로그인 유저의 대여 도서 정보로 맞춤 도서 목록 가져오기
	 * @param userId 로그인 유저 아이디
	 * @param userLoanCnt 로그인 유저가 대여한 도서 개수
	 * @return 맞춤 도서 목록
	List<Book> getRecommendBooksByUserId(String userId, int userLoanCnt) -->
	<select id="getRecommendBooksByUserId" resultMap="BookResultMap">
		<choose>
			<!-- 로그인 유저의 대여 이력 여부 -->
			<when test="userLoanCnt > 0">
				WITH 
					<!-- 1. 내가 대여한 도서 번호 목록 -->
					my_loan_books AS ( 
						SELECT 
							BOOK_NO
						FROM 
							BOOKHUB_LOAN_HISTORIES
			    		WHERE 
			    			USER_ID = #{userId}
					), 
					<!-- 2. 내가 대여한 도서의 카테고리 목록 -->
					my_loan_categories AS (
						SELECT
							DISTINCT CATEGORY_NO
						FROM 
							BOOKHUB_BOOKS 
						WHERE 
							BOOK_NO IN (SELECT BOOK_NO FROM my_loan_books)
					),
					<!-- 3. 내가 대여한 도서의 상위 카테고리 목록 -->
					my_loan_parents_categories AS (
						SELECT
							DISTINCT C.PARENTS_CATEGORY_NO
						FROM 
							BOOKHUB_CATEGORIES C
						WHERE 
							C.CATEGORY_NO IN (SELECT BOOK_NO FROM my_loan_categories)
						AND 
							C.PARENTS_CATEGORY_NO IS NOT NULL
					),
					<!-- 4. 나와 같은 도서을 대여한 유저 아이디 목록 -->
					similar_users AS ( 
						SELECT 
							DISTINCT USER_ID
						FROM 
							BOOKHUB_LOAN_HISTORIES
						WHERE 
							BOOK_NO IN (SELECT BOOK_NO FROM my_loan_books)
						AND
							USER_ID != #{userId}
					),
					<!-- 5. 나와 같은 도서를 대여한 유저의 대여 도서 목록(내가 대여한 도서 번호 제외) -->
					recommend_books_by_user AS ( 
						SELECT
							DISTINCT HB.BOOK_NO, 100 AS PRIORITY <!-- 우선 사항 강도 -->
						FROM 
							BOOKHUB_LOAN_HISTORIES HB
						WHERE 
							HB.USER_ID IN (SELECT USER_ID FROM similar_users)
						AND
							HB.BOOK_NO NOT IN (SELECT BOOK_NO FROM my_loan_books)
					),
					<!-- 6. 내가 대여한 도서와 같은 하위 카테고리 도서 목록(내가 대여한 도서 번호 제외) -->
					recommend_books_by_same_category AS ( 
						SELECT
							DISTINCT CB.BOOK_NO, 50 AS PRIORITY <!-- 우선 사항 강도 -->
						FROM 
							BOOKHUB_BOOKS CB
						WHERE 
							CB.CATEGORY_NO IN (SELECT CATEGORY_NO FROM my_loan_categories)
						AND
							CB.BOOK_NO NOT IN (SELECT BOOK_NO FROM my_loan_books)
					),
					<!-- 7. 내가 대여한 도서의 상위 카테고리 도서 목록(내가 대여한 도서 번호 제외) -->
					recommend_books_by_parents_category AS ( 
						SELECT
							DISTINCT PCB.BOOK_NO, 10 AS PRIORITY <!-- 우선 사항 강도 -->
						FROM 
							BOOKHUB_BOOKS PCB, BOOKHUB_CATEGORIES C
						WHERE 
							PCB.CATEGORY_NO = C.CATEGORY_NO
						AND 
							PCB.CATEGORY_NO IN (SELECT CATEGORY_NO FROM my_loan_categories)
						AND
							PCB.BOOK_NO NOT IN (SELECT BOOK_NO FROM my_loan_books)
					)
				<!-- 전체 추천 도서 통합 -->
				SELECT
					RB.BOOK_NO
					, RB.BOOK_TITLE
					, RB.BOOK_AUTHOR
					, RB.BOOK_PUBLISHER
					, RB.BOOK_DESCRIPTION
					, RB.BOOK_PUB_DATE
					, RB.BOOK_REVIEW_COUNT
					, RB.BOOK_REVIEW_AVG
					, RB.BOOK_COVER_IMAGE_PATH
					, RB.BOOK_CREATED_DATE
					, RB.BOOK_UPDATED_DATE
					, RB.BOOK_ISBN
					, C.CATEGORY_NO
					, C.CATEGORY_NAME
					, R.PRIORITY
					<!-- 내가 대여한 도서 카테고리와 일치 여부 -->
					, CASE
						WHEN RB.CATEGORY_NO IN (SELECT CATEGORY_NO FROM my_loan_categories) THEN 1
						ELSE 0
					END AS CATEGORY_MATCH
				FROM 
					<!-- 중복을 제거한 테이블 병합(모두 BOOK_NO가 선택됨) -->
					(
						SELECT * FROM recommend_books_by_user
						UNION
						SELECT * FROM recommend_books_by_same_category
					    UNION
					    SELECT * FROM recommend_books_by_parents_category
					) R
					, BOOKHUB_BOOKS RB
					, BOOKHUB_CATEGORIES C
				WHERE
					R.BOOK_NO = RB.BOOK_NO
				AND 
					RB.CATEGORY_NO = C.CATEGORY_NO
				ORDER BY
					R.PRIORITY DESC          		<!-- 추천 우선순위 (유사사용자 > 같은카테고리 > 상위카테고리) -->
					, CATEGORY_MATCH DESC			<!-- 카테고리 일치 -->
					, B.BOOK_REVIEW_COUNT DESC 		<!-- 리뷰수 -->
					, B.BOOK_REVIEW_AVG DESC		<!-- 리뷰 평점 -->
					, B.BOOK_PUB_DATE DESC			<!-- 출판일 -->
				FETCH FIRST 20 ROWS ONLY
			</when> 
			<!-- 로그인 상태가 아니거나 대여 이력이 없을 경우 -->
			<otherwise>
				WITH
					review_based AS (
						SELECT
							B.BOOK_NO,
		                    B.BOOK_TITLE,
		                    B.BOOK_AUTHOR,
		                    B.BOOK_PUBLISHER,
		                    B.BOOK_DESCRIPTION,
		                    B.BOOK_PUB_DATE,
		                    B.BOOK_REVIEW_COUNT,
		                    B.BOOK_REVIEW_AVG,
		                    B.BOOK_COVER_IMAGE_PATH,
		                    B.BOOK_CREATED_DATE,
		                    B.BOOK_UPDATED_DATE,
		                    B.BOOK_ISBN,
		                    C.CATEGORY_NO,
		                    C.CATEGORY_NAME,
		                    0 AS PRIORITY,
		                    0 AS CATEGORY_MATCH
	                    FROM 
	                    	BOOKHUB_BOOKS B	
	                    	,BOOKHUB_CATEGORIES C
                    	WHERE
                    		B.CATEGORY_NO = C.CATEGORY_NO
                   		AND
                   			B.BOOK_REVIEW_COUNT >= 1
                    	ORDER BY 
		                    B.BOOK_REVIEW_COUNT DESC,
		                    B.BOOK_REVIEW_AVG DESC,
		                    B.BOOK_PUB_DATE DESC
		                FETCH FIRST 10 ROWS ONLY
					),
					pub_date_based AS (
						SELECT
							B.BOOK_NO,
		                    B.BOOK_TITLE,
		                    B.BOOK_AUTHOR,
		                    B.BOOK_PUBLISHER,
		                    B.BOOK_DESCRIPTION,
		                    B.BOOK_PUB_DATE,
		                    B.BOOK_REVIEW_COUNT,
		                    B.BOOK_REVIEW_AVG,
		                    B.BOOK_COVER_IMAGE_PATH,
		                    B.BOOK_CREATED_DATE,
		                    B.BOOK_UPDATED_DATE,
		                    B.BOOK_ISBN,
		                    C.CATEGORY_NO,
		                    C.CATEGORY_NAME,
		                    0 AS PRIORITY,
		                    0 AS CATEGORY_MATCH
	                    FROM 
	                    	BOOKHUB_BOOKS B	
	                    	,BOOKHUB_CATEGORIES C
                    	WHERE
                    		B.CATEGORY_NO = C.CATEGORY_NO
                   		AND
                   			B.BOOK_NO NOT IN (SELECT BOOK_NO FROM review_based)
                    	ORDER BY 
		                    B.BOOK_PUB_DATE DESC
		                FETCH FIRST 20 ROWS ONLY
					)
				SELECT *
				FROM
					(
						SELECT * FROM review_based
						UNION
						SELECT * FROM pub_date_based
					)
				FETCH FIRST 20 ROWS ONLY
			</otherwise>
		</choose>
	</select>
	
</mapper>