<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.bookhub.mapper.StockMapper">
	<!--  
		void updateStock(String bno, String lno);
	-->
	<update id="updateStock" parameterType="String">
		update bookhub_stocks
		set
			book_stock = book_stock-1
		where
			book_no = #{bno}
			AND lib_no = #{lno}
	</update>
	
	<!--  
		int getBookStockCount(String bno, String lno); 
	-->
	<select id="getBookStockCount" parameterType="String">
		select sum(book_stock)
		from bookhub_stocks
		where book_no = #{bno}
		and lib_no = #{lno}
	</select>
</mapper>
